% rebase('osnova.html')
<!-- Stran za dodajanje knjig -->
<br>
<br>
<h1 style="text-align: center;"> Dodaj knjigo </h1>
<div style="text-align: center;"
<fieldset>
    
<form method="POST">
    
    <div style="text-align: center;"
    
    <legend>Vnesi podatke:</legend><br>
        <br>
    <label for ="naslov">Naslov:</label>
    <input type="text" name="naslov"><br>
    <br> 
    <label for="avtor">Avtor:</label>
    <input type="text" name="avtor"><br>
    <br>
    <label for="zanr">Žanr:</label>
    <input type="text" name="zanr"><br>
    <br>
    <label for="leto_izdaje">Leto izdaje:</label>
    <input type="text" name="leto_izdaje"><br>
    <br>
    <label for="zalozba">Založba:</label>
    <input type="text" name="zalozba"><br>
    <button class="button"><span>Dodaj!</span></button>
    <p> Ko vneseš vse podatke klkini gumb dodaj. </p>
</fieldset>

</form>


