% rebase('osnova.html')
<!-- Stran za dodajanje članov -->
<br>
<br>
<h1 style="text-align: center;"> Dodaj člana </h1>

<fieldset>
<form method="POST">
    <div style="text-align: center;"
    <legend>Vnesi podatke:</legend><br>
        
    <label for="ime">Ime:</label>
    <input type="text" name="ime"><br>
    <br>
    <label for="priimek">Priimek:</label>
    <input type="text" name="priimek"><br>
    <br>
    <label for="starost:">Starost:</label>
    <input type="text" name="starost"><br>
    <br>
    <label for="spol">Spol:</label>
    <input type="text" name="spol"><br>
    <p>Vnesi "Ž" za žensko/ "M"za moškega</p><br>
    <button class="button"><span>Dodaj!</span></button>
    <p> Ko vneseš vse podatke klkini gumb dodaj </p>
</fieldset>
</form>
