% rebase('osnova.html')
<!-- Izposodiš knjigo z vnešenim id-jem izbranemu članu. -->
<br>
<h1 style="text-align: center;"> Izposoja: </h1>


<div style="text-align: center;"</div>
<form method="POST">
    Id knjige: <input type="text" name="id_knjige" /><br />
    <button class="button"><span>Izposodi!</span></button>
</form>
<p><a href="/izpisi_clana/{{id}}">Nazaj na podatke o članu</a></p>



<!--% rebase('osnova.html')
<<br>

<fieldset>
    
    <h1 style="text-align: center;"> Izposoja: </h1>
    <div style="text-align: center;"
<form method="POST">
    V okence vnesite id knjige, ki si jo član želi izposoditi.
    <input type="text" name="id_knjige" /><br />
    <br>
    <button class="button">Izposodi!</button>
</form>
<p style="text-align: center;">Če želite nazaj na podatke o članu, kliknite <a href="/izpisi_clana/{{id}}/">TUKAJ</a></p>.

</fieldset>-->