% rebase('osnova.html')
<!-- Izbereš tabelo iskanja člana in podatek -->
<br>
<br>

<h1 style="text-align: center;"> Poišči člana </h1>
<p style="text-align: center;">Spodaj vpiši identifikacijsko številko ali ime člana.</p>
<fieldset>
    <div style="text-align: center;"
<h1> Poišči člana </h1>
<form method="POST">
    <div style="text-align: center;"
    <label for="izberi_vrednost">Izberi tabelo iskanja:</label>
    <select name="izberi" id="izberi_vrednost">
        <option value="">--Prosim izberi vrednost--</option>
        <option value="id">Id</option>
        <option value="ime">Ime</option>
        <option value="priimek">Priimek</option>
    </select>
    Podatek: <input type="text" name="podatek" /><br />
    <br>
    <button class="button"><span>Išči!</span></button>
</fieldset>
</form>