% rebase('osnova.html')

<ul>
    <br>
    <br>
    <h1 style="text-align: center;" style="font-size:10vw;"><em>Dobrodošli v knjižnici</em></h1>
    <h6 style="text-align: center;"> <i>S klikom na  dodaj knjigo lahko dodate knjigo v bazo podatkov.
    <br>Če želite včlaniti člana v knjižnico to storite s klikom dodaj člana.</br> 
    V kolikor vas zanimajo podatki o knjigi ali članu to storite s klikom na 
    poišči knjigo oziroma  poišči člana</i>.

</h6>
   
   
    <div style="text-align:center;">
    <lp><a href="/dodaj_knjigo"><button class="button"><span>Dodaj knjigo</span></button></a></p>
    <p> S klikom na zgornji gumb boste dodali knjigo v bazo podatkov.</p></div>


    <div style="text-align:center;">
    <p><a href="/dodaj_clana"><button class="button"><span>Dodaj člana</span></button></a></p>
    <p> S klikom na zgornji gumb boste dodali člana v knjižnico</p></div>


    <div style="text-align:center;">
    <p><a href="/poisci_knjigo"><button class="button"><span>Poišči knjigo</span></button></a></p>
    <p> S klikom na zgornji gumb boste poiskali knjigo glede na dane parametre.</p></div>
    

    <div style="text-align:center;" >
    <p><a href = "poisci_clana"> <button class="button"><span>Poišči člana</span></button></a></p>
    <p> S klikom na zgorjni gumb boste poiskali člana , ki je že včlanjen.</p></div>
    
</ul>
